@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cabin";
  src: url(./assets/fonts/Cabin/Cabin-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Cabin";
  src: url(./assets/fonts/Cabin/Cabin-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Cabin";
  src: url(./assets/fonts/Cabin/Cabin-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: "Cabin";
  src: url(./assets/fonts/Cabin/Cabin-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Cabin";
  src: url(./assets/fonts/Cabin/Cabin-MediumItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Cabin";
  src: url(./assets/fonts/Cabin/Cabin-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Cabin";
  src: url(./assets/fonts/Cabin/Cabin-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Cabin";
  src: url(./assets/fonts/Cabin/Cabin-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik/Rubik-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

:root {
  font-family: Rubik, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #47398e #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  @apply bg-indigo-400;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-indigo-800;
  border-radius: 10px;
  border: none;
}
@layer base {
  h1 {
    @apply text-5xl;
    font-family: Cabin;
    font-weight: 500;
  }
  h2 {
    font-family: Cabin;
    @apply text-3xl;
  }
  h3 {
    font-family: Cabin;
  }
  h4 {
    font-family: Cabin;
  }
  h5 {
    font-family: Cabin;
  }
}
